main.archives {
    
    article {
        margin: 25px auto;
        
        a {
            display: block;
        }
        
        a.readMore {
            display: initial;
            
        }
        
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: left;
            
            @media (min-width: 641px) {
                font-size: 3rem;
                line-height: 3.5rem;
            }
        }
        
        p {
            text-align: left;
        }
        
        img {
            float: left;
            margin: 0 10px 4px 0;
            max-width: 25%;
        }
    }
    
    @media (min-width: 641px) {
        
    }
}

.pagination {
    margin-left: 15px;
    font-size: 2rem;
}