#articles article {
    
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: left;
            font-weight: 500;
            font: $font-family-header;
            color: $color-4;
            
            &:hover {
                color: $color-4;
            }
        }
        
        p {
            @include transition(all ease 0.3s);
            text-align: left;
            font-size: 1.6rem;
        }
    
        a.readMore {
            display: initial;
            
            p {
                font-size: 1.2rem;
                text-transform:lowercase;
                font-weight: 600;
                color: $color-4;
            }
            
        }
}

.pagination {
    margin-left: 15px;
    font-size: 2rem;
}



main.blogArchives {
    
    padding: 50px 10px;
    
    @media (min-width: 1200px) {
        padding: 100px 0;
    }
    
    .view-article {
        display: none;
    }
    
    section {
        padding-right: 0 !important;
    }
    
    article {
        position: relative;
        margin: 10px auto;
        padding: 0;
        border: 1px solid $color-5;
        
        
        @media (min-width: 641px) {
            padding: 0 0 20px;
        }
        
        .textBox {
            padding: 10px;
            
            @media (min-width: 641px) {
                padding: 20px 15px;
            }
            
             @media (min-width: 1024px) {
                 padding: 30px 20px;
            }
            
            p {
                display: none;
                
                 @media (min-width: 641px) {
                    display: block;
                }
            }
        }
        
        a {
            display: block;
        }
        
        img {
            width:100%;
            opacity: .85;
            @include transition(all ease 0.3s);
        }
        
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: left;
            font-weight: 500;
            font: $font-family-header;
            color: $color-4;
            
            &:hover {
                color: $color-4;
            }
        }
        
        p {
            @include transition(all ease 0.3s);
            text-align: left;
            font: $font-family;
            font-size: 1.6rem;
            margin-top: 15px;
        }
        
        .readMore {
            position: absolute;
            right: 25px;
            bottom: 5px;
            
            :after {
                content: "\f061";
                font-family: FontAwesome;
                font-size: 1.2rem;
                cursor: pointer;
                margin-left: 7px;
                color: $color-3;
            }
            
            p {
                margin-top: 0;
                font-size: 1.2rem;
                text-transform:lowercase;
                font-weight: 600;
                color: $color-4;
                
                &:hover  {
                    color: $color-3;
                }
            }
        }
        
        a:hover {
            
            h2 {
                color: $font-hover-color;
            }
            
            p {
                color: $font-hover-color;
            }
            
            img {
                opacity: 1;
            }
        }
    }
    
}

#jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {
    font-weight: 500;
    font: $font-family-header;
    color: $color-4;
}