/*---------------------------------------------------------*\
                      Core Styles
\*---------------------------------------------------------*/

html {
	font-family: $font-family;
	font-size: 64.5%;
}
p {
	@extend %extend_basic_text;
    color: $font-color;
    font-size: 1.4rem;
}
li {
	@extend %extend_basic_text;
    font-size: 1.4rem;
}
h1 {
	font-family: $font-family;
	margin: 0 5px 10px 0;
    color: $color-4;
}
h2, h3, h4, h5, h6 {
	font-family: $font-family;
    color: $font-color;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;

    @media (min-width: 640px) {
        font-size: 3.6rem;
    }
}

.center {
	text-align: center;
	margin: auto;
	height: 100%;
}
a {
	color: $font-color;
	text-decoration: none;
    @include transition(all ease 0.3s);
	&:hover {
		color: $font-hover-color;
		outline: 0;
	}
	&:focus {
		outline: 0;
	}
	&:active {
		outline: 0;
	}
}

img {
    &.alignright {
        float: right;
        margin: 5px 0 14px 20px;
    }
    
    &.alignnone {
        margin: 20px;
    }
    
    &.alignleft {
        float: left;
        margin: 5px 20px 14px 0;
    }
    
    &.aligncenter {
        display: block;
        margin: 20px auto;
    }
}

body {
    overflow-x: hidden;
    position: relative;
}

.clear {
    clear:both;
    &:before {
        clear:both;
    }
    &:after {
        clear:both;
    }
}

.zeroPadding {
	padding: 0;
}
main {
    
    min-height: 10vh;
    
    @media (min-width: 640px) {
        min-height: 53vh;
    }

    &.mobileOn {
        position: fixed;
    }
}
.column {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.columns {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

article {
	padding: 0 15px;
}
img {
	max-width: 100%;
	vertical-align: bottom;
	&#wpstats {
		visibility: hidden;
		height: 0;
	}
}
*, *:after, *:before {
	box-sizing: border-box;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.clear {
	*zoom: 1;
	&:before {
		content: ' ';
		display: table;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}
::selection {
	background: $font-color;
	color: $color-1;
	text-shadow: none;
}
::-webkit-selection {
	background: $font-color;
	color: $color-1;
	text-shadow: none;
}
::-moz-selection {
	background: $font-color;
	color: $color-1;
	text-shadow: none;
}
.wp-caption {
	background: $color-1;
	border: none;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
	&.alignnone {
		margin: 5px 20px 20px 0;
	}
	&.alignleft {
		margin: 5px 20px 20px 0;
	}
	&.alignright {
		margin: 5px 0 20px 20px;
	}
	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	.wp-caption-text {
		@extend %extend_captions;
	}
}
.gallery-caption {
	@extend %extend_captions;
}

input:focus {
	outline: 0;
	border: 1px solid $font-color;
}

.container {
    max-width: 95%;
    margin: auto;
    position: relative;
    
    @media (min-width:1601px) {
        max-width: 85%;
    }

    @media (min-width:1601px) {
        max-width: 1400px;
    }
}

.row {
    max-width: initial !important;   
}

.button, .submit {
    background: $color-3;
    color: $color-2;
    font-size: 1.8rem;
    text-transform: uppercase;
    border: none;
    padding: 13px 20px 10px;
    @include transition(all ease 0.3s);
    margin-right: 20px;

    &:hover {
        background: darken($color-3, 10%);
    }
}

.buttons {
    text-align: center;
    margin-top:30px;
}