header {
    padding:10px 0;
    overflow-x: hidden;
    
    #logo {
        max-width: 250px;
        display: block;
        float: left;
        margin-top: 5px;
        
         @media (min-width: 640px) {
             max-width: 300px;
        }
        
         @media (min-width: 1200px) {
             max-width: 350px;
        }
    }
    
    nav {
        @media (max-width: 640px) {
            position: absolute;
            z-index: 100;
            top: 90px;
            right: -15px;
            height: 100vh;
            background: transparentize($color-4, .03);
            width: 80%;
            text-align: left;
            margin-right: -83%;
        }
        
        width:100%;
        clear: both;
        text-align: center;
        
        @media (min-width: 1200px) {
            float: right;
            text-align: right;
            margin-top:55px;
            width:auto;
            clear:initial;
        }
        
        ul {
            
            margin-left: 0;
            
            @media (min-width: 640px) {
                margin-left: 1.25rem;
            }
        }
        
        li {
            list-style: none;
            display: block;
            
            @media (min-width: 640px) {
                display: inline-block;
            }
            
            &:hover {
                color: lighten($color-4, 10%);
            }
        }
        
        a {
            color: $color-2;
            display: block;
            padding: 20px 20px;
            border-top:1px solid #777;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: 600;
            
            &:hover {
                color: $color-2;
            }
            
            @media (min-width: 640px) {
                padding: 10px;
                color: $color-4;
                border: none;
                    
                &:hover {
                    color: lighten($color-4, 10%);
                }
            }
            
             @media (min-width: 1200px) {
                 padding: 20px 0 5px 20px;
            }
            
        }
        
        &.mobileOn {
            margin-right: 0;
        }
    }
    
    #headerTop {
        
        display: none;
        
        @media (min-width: 640px) {
            display: block;
            position: absolute;
            top:10px;
            right:5%;
            left: auto;
            width:100px;
            display: inline-block;
        }
        
        span {
            font-size: 1.6em;
            color: $font-2-color;
            display: inline-block;
            float: right;
            margin-top: 5px;
            font-weight: 500
        }
        
        .search {
            display: inline-block;
            float: right;
            
            label {
                display: inline-block;

                &:before {
                    content: "\f002";
                    font-family: FontAwesome;
                    font-size: 1.8em;
                    cursor: pointer;
                    color: $font-2-color;
                    margin-right: 10px;
                }

            }
            input {
                display: block;
                position: absolute;
                right: 80px;  
                top: 3px;
                width: 0;
                padding: 0;
                border: 0;
                @include transition(all ease 0.3s);
                
            }
            
            &.openInput input {
                    width: 200px !important;  
                    padding: 0.5rem !important;
                    border: 1px solid #cacaca !important;
                }
        }
        
        .search
        
        .search-submit {
            display: none;
        }
    }
    
    .mobileMenuButton {
        color: #777;
        font-size: 2.5rem;
        position: absolute;
        top: 35px;
        right: 25px;
        cursor: pointer;
        
         @media (min-width: 640px) {
             display: none;
        }
    }
    
    &.mobileOn {
        overflow-x:visible;
    } 
    
}