
.page-template-homepage h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;

    @media (min-width: 640px) {
        font-size: 3.6rem;
    }
}

#anouncement {
    padding: 10px 0;
    
    h3 {
        padding: 0;
        margin: 0;
    }
}

#slider {
    ul {
        margin:0;
        
        li {
            height: 50vh;
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            width: 100%;
            
            @media (min-width: 640px) {
                height: 600px;
            }
        }
    }
    
    .sliderText {
        font-family: "Martel Sans",sans-serif;
        color: $color-4;
        position: absolute;
        left: 0;
        bottom: 0;
        right:0;
        text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.7);
        padding: 20px 10px;
        text-align: center;
        
        @media (min-width: 1200px) {
            bottom: 15%;
            padding: 15px 10px 5px 150px;
            left: 0;
            right: auto;
            text-align: left;
        }
    }
    
    h1 {
        font-weight: 800;
        color: $color-4;
        font-size: 3rem;
        line-height: 3.5rem;
        
        @media (min-width: 640px) {
            font-size: 5rem;
            line-height: 5.5rem;
        }
        
        @media (min-width: 1200px) {
            font-size: 6rem;
            line-height: 6.5rem;
        }
    }
    
    .bx-wrapper {
        margin: 0 auto;
        
        .bx-pager.bx-default-pager a {
            display: none;
        }

        .bx-next {
            right: 20px;
            background: url(img/control-right.png) no-repeat center center;
            height: 30%;
            width: 117px;
            opacity: .1;
            top: 34%;
            z-index: 99;
            
            &:hover {
                opacity: .7;
            }
        }
        .bx-prev {
            left: 20px;
            background: url(img/control-left.png) no-repeat center center;
            height: 30%;
            width: 117px;
            opacity: .1;
            top: 34%;
            z-index: 99;
            
            &:hover {
                opacity: .7;
            }
        }
    }
}

#statement {
    
    background: $color-4;
    padding: 50px 0;
    
    @media (min-width: 1200px) {
        padding: 100px 0;
    }
    
    h2 {
        color: $color-2;
    }
}

    
    .videoWrapper {
        height: 0;
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }


#form {
    
    background: $color-4;
    padding: 50px 0;
    
    @media (min-width: 1200px) {
        padding: 100px 0;
    }
    
    h2 {
        color: $color-2;
        margin-bottom: 25px;
    }
    
    input.field {
        height: 40px;
        width: 100%;
        padding: 0 10px;
        line-height: auto;
        font-size: 2rem;
        color: $color-1;
        
        @include placeholder {
            font-size: 2rem;
            line-height: auto;
            color: $placeholder-color;
        }
    }
    
    .button {
        background: $color-3;
        color: $color-2;
        font-size: 2rem;
        text-transform: uppercase;
        border: none;
        padding: 10px 30px;
        @include transition(all ease 0.3s);
        
        &:hover {
            background: darken($color-3, 10%);
        }
    }
}


#intro {
    
    padding: 50px 0;
    
    @media (min-width: 1200px) {
        padding: 100px 0;
    }
    
    .image {
        padding-right: 50px;
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
}



#benefits {
    
    background: $color-5;
    padding: 50px 0;
    
    @media (min-width: 1200px) {
        padding: 50px 0 100px;
    }
    
        
    h2 {
        margin-bottom: 75px;
    }
    
    .benefits {

        @include align-content($align: center);
        text-align: center;
        
        @media (min-width: 640px) {
            display: -webkit-box;
            display: -moz-box;
            display: -webkit-flexbox;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
        }
    }
    
    .benefit {
         
        width: 100%;
        padding: 10px 0;
        
        @media (min-width: 640px) {
            
            @include flex($grow: 1, $shrink: 1, $basis: auto);
            width:initial;
            padding: 0 2rem;
        }
        
        image {
            margin: auto;
        }
        
        p {
            font-size: 1.8rem;
            line-height: 2.8rem;
            text-align: center;
            font-weight: 600;
            margin-top:25px;
        }
    }
}

#articles {
    
    padding: 50px 0;
    
    @media (min-width: 1200px) {
        padding: 0 0 100px;
    }
    
    .column {
        margin:20px auto;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
    
    article {
        border-bottom: 1px solid $color-5;
        border-left: 1px solid $color-5;
        border-right: 1px solid $color-5;
        padding: 0;
        position: relative;
        
        .textBox {
            padding: 35px 30px;
        }
        
        img {
            width:100%;
            opacity: .85;
            @include transition(all ease 0.3s);
        }
        
        h2 {
            font-size: 3rem;
            font-weight: 500;
            @include transition(all ease 0.3s);
            $font-family-header: 'ProximaNova', sans-serif;
        }
        
        p {
            @include transition(all ease 0.3s);
            font-size: 1.6rem;
            margin-top: 15px;
        }
        
        .readMore {
            text-align: right;
            position:absolute;
            right:20px;
            bottom: 15px;
            
            :after {
                content: "\f061";
                font-family: FontAwesome;
                font-size: 1em;
                cursor: pointer;
                margin-left: 7px;
                color: $color-3;
            }
            
            p {
                margin-top: -15px;
                
                &:hover  {
                    color: $color-3;
                }
            }
        }
        
        a:hover {
            
            h2 {
                color: $font-hover-color;
            }
            
            p {
                color: $font-hover-color;
            }
            
            img {
                opacity: 1;
            }
        }
    }
    
}

#bottom_content_box {
        padding: 50px 0;
    
    @media (min-width: 1200px) {
        padding: 0 0 100px;
    }
}