.login {
    article {
        max-width: 600px;
        margin: auto;
    
        form {
            font-size: 1.6rem;
            
        .submit {
            max-width: 100px;
            padding: 0px 10px;
            text-align: center;
        }
            
            #wp-submit {
                border: none;
                background: none;
            }
            
            input {
                height: 50px;
            }
            
            label input {
                height: auto;
            }
        }
    }
}