// _pages.scss

p {
	.form-allowed-tags {
		display: none;
	}
	#form-allowed-tags {
		display: none;
	}
}

.post {
    .tiled-gallery-caption {
        display:none !important;
    }
}

body:not(.home) main {
    
    article {
        img {
            margin: 0 auto 20px;
        }
    }
    
    background: #f3f3f3;
    padding: 50px 10px;
    
    section {
        padding-right: 15px;
    }
    
    ul {
        margin-left: 4rem;
    }
    
    
    aside { 
        
        padding: 0 40px;
        
        .sidebar-widget {
            padding: 5px 0;
            
            &:before {
                content: "";
                border-top: 1px solid #ccc;
                height: 2px;
                width:50%;
                padding: 25px 15px 0;
                display: block;
                margin: auto;
                
                @media (min-width: 640px) {
                    display: none;
                }
            }
        }
        
        @media (min-width: 640px) {
            border-left: 1px solid #ccc;
            border-top: 0;
            border-top: 0;
            padding-top: 0;
            padding-left: 25px;
        }
        
        ul {
            margin-left: 0;
            
            li {
                list-style: none;
                margin-bottom: 5px;
                
                li {
                    margin-bottom: 0;
                }
            }
            
            .children {
                margin-left: 3rem;
            }
        }
    }
    
    .container {
        max-width: 1200px
    }
    
    h1 {
        font-size: 4rem;
        line-height: 4.5rem;
        border-bottom:2px solid $color-5;
    }
}

.single-post {
    h1 {
        font-family: $font-family-header;
        margin: 0 5px 10px 0;
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}