/*---------------------------------------------------------*\
                      color
\*---------------------------------------------------------*/

$color-1: #000;
$color-2: #fff;
$color-3: #72D54A;
$color-4: #003056;


/*---------------------------------------------------------*\
                      Fonts
\*---------------------------------------------------------*/

$font-family: 'Martel Sans', sans-serif;
$font-color: #777;
$font-2-color: #aaa;
$font-hover-color:#000;