/*---------------------------------------------------------*\
                      color
\*---------------------------------------------------------*/

$color-1: #fff;


/*---------------------------------------------------------*\
                      Fonts
\*---------------------------------------------------------*/

$font-family: Helvetica;
$font-color: #777;
$font-hover-color:#000;